.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button {
    text-transform: uppercase;
    margin: 20px;
    padding: 10px 40px;
    cursor: pointer;
    border-radius: 8px;
    background: none;
    border: 2px solid hsl(217, 16%, 45%);
    color: white;
    font-weight: 600;
    letter-spacing: 2px;
}

.button.primary {
    border: none;
    color: black;
    background-color: white;
}